body {
  background-color: linear-gradient(#ffffff, #ffefba);
}
#award {
  height: 800px;
}
#logo {
  height: 200px;
}
#main {
  width: 1000px;
}
#product {
  width: 1200px;
}
hr {
  background-color: red;
}
.line {
  border-left: 3px solid red;
  height: 500px;
}
#footer {
  background-color: red;
  color: white;
}
#icon {
  width: 48px;
  margin-top: 1px;
}
#icon2 {
  margin-top: 20px;
}

@media screen and (min-width: 300px) {
  #product {
    width: 414px;
  }
  #main {
    width: 414px;
  }
  #award {
    width: 414px;
  }
  #logo {
    width: 414px;
  }
  hr {
    width: 414px;
  }
}
@media screen and (min-width: 900px) {
  #product {
    width: 1200px;
  }
  #award {
    height: 800px;
  }
  #logo {
    height: 200px;
    width: 500px;
  }
  #main {
    width: 1000px;
  }
  #product {
    width: 1200px;
  }
  hr {
    background-color: red;
    width: 100vw;
  }
  .line {
    border-left: 3px solid red;
    height: 500px;
  }
}
